@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

 
:root{
--color-1:#916B2D;
--color-2:#9D7D49;
--color-3:#F6A502;
--color-4:#FFDE59;
--color-5:#F7EFE2;
--color-6:#FFFEFA;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  color: var(--color-2);
}

ul{
  list-style: none;
}

.hero{
  height: 100vh;
  justify-content: center;
}

.hero, .main-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-hero{
  max-width: 320px;
  padding: 1rem;
  gap: .5rem;
  text-align: center;
}

.main-hero img{
  width: 260px;
}

.main-hero p{
  letter-spacing: 1px;
  line-height: 1.375;
  /* width: 200px; */
}
.main-hero span{
  font-size: 24px;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: var(--color-4);
}
.info-hero{
  margin-top: 1rem;
}
.info-hero li{
  width: 100%;
  font-size: 14px;
  text-align: center;
  padding: .125rem 1rem;
  background-color: var(--color-5);
  border-radius: 20px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 4px 0 rgba(145, 105, 45, .3);
}
.info-hero li span{
  font-weight: 500;
}

/* flores margaridas */

.container-img .w200{
  width: 200px;
}
.container-img .w150{
  width: 150px;
}
.container-img .w100{
  width: 100px;
}

[data-flor]{
  position: fixed;
  z-index: -1;
}
[data-flor= '1']{
  top: -80px;
  left: -50px;
  width: 200px;
}
[data-flor= '2']{
  bottom: 0;
  right: -50px;
}
[data-flor= '3']{
  bottom: 150px;
  left: -30px;
}
[data-flor= '4']{
  top: 150px;
  right: -30px;
}

.information {
  padding: 1rem;
  height: 100vh;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 300px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0 rgba(145, 105, 45, .3);
  border: 1px solid var(--color-3);
}

.gmap_iframe {
  border-radius: 10px;
  height: 300px !important;
}
